body {
    background-color: #508991;
    font-family: "Montserrat", "Open San", "Roboto";
}

#gif-search-container {
    background-color: #fcf7f8;
}

#giftastic-search {
    color: #006989;
}

#gif-card-header {
    color: #006989;
}

#gif-card-footer {
    color: #006989
}

#gif-emblem {
    color: #006989;
}

#addButtons {
    color: #006989;
    background-color: #def6ca;
    margin: 5px;
    border-radius: 4px;
}

#addButtons:hover {
    background-color: #006989;
    color: #def6ca;
}

.gif-buttons {
    color: #006989;
    background-color: #def6ca;
    margin: 5px;
    border-radius: 4px;
}

.gif-buttons:hover {
    background-color: #006989;
    color: #def6ca;
}

#input-text {
    color: #006989;
}